body {
    font-family: "Montserrat", sans-serif;
    color: rgb(248, 248, 248);
}

/*TOP BAR*/
.top-div {
    text-align: right;
    background-color: rgb(96, 200, 96);
    /*color: rgb(248, 248, 248);*/
    font-size: 1.3em;
    height: 2em;
}

/*NAVBAR*/
.navbar {
    font-size: 1.2em;
    box-shadow: 0 .5em .5em rgba(8, 8, 8, .2);

    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-brand img {
    height: 3.8em;
}

.nav-link:hover, .nav-link.active {
    color: rgb(96, 188, 216) !important;
}

.nav-item {
    padding: 0 1em;
    font-weight: bold;
    letter-spacing: .2em;
}

/*ABOUT*/
.about {
    background-position: center;
    height: 45em;
}

.strip {
    height: 10em;
    background-color: #BCDDB2;
}

.about-image, .about-text {
    border: none;
    border-radius: 12px;
    margin-top: 5em;
}

.about-image {
    background-image: url("images/about.jpg");
    background-position: left;
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 35em;
}

.about-text {
    background-color: rgba(8, 8, 8, .2);
}

@media screen and (max-width: 992px) {
    .about {
      height: 60em;
    }

    .about-text {
        margin-top: 1em;
    }
}

@media screen and (max-width: 768px) {
    .about {
      height: 66em;
    }
}

@media screen and (max-width: 576px) {
    .about {
      height: 68em;
    }
}

@media screen and (max-width: 440px) {
    .about {
      height: 72em;
    }
}


.about-text p, .about-text h4 {
    color: rgb(24, 24, 24);
    font-weight: bold;
}

.about-heading {
    padding: 2em;
    text-align: center;
    font-weight: bold;
    color: black;
}

/*FOOTER*/
footer {
    background-color: rgb(96, 200, 96);
    /*color: rgb(248, 248, 248);*/
}

.site-footer {
    text-align: center;
    padding-top: 2em;
    margin: auto;
}

.fa-facebook-square, .fa-twitter-square, .fa-instagram-square {
    color: rgb(248, 248, 248);
}

ul.social-media li {
    display: inline;
    margin: 0 .5em;
}